@using System.Text

@{
	Layout = "/_Master.cshtml";
	
	IDocument containingType = Model.Get<IDocument>("ContainingType");
	string containingTypeString = string.Empty;
	while(containingType != null)
	{
		containingTypeString = containingTypeString + containingType.String("DisplayName") + ".";
		containingType = containingType.Get<IDocument>("ContainingType");
	}
	ViewData[Keys.Title] = "API - " + containingTypeString + Model["DisplayName"] + " " + Model["SpecificKind"];
}

@section Infobar {	
	<div id="infobar-headings"></div>
}

@section Search {	
	@Html.Partial("_ApiSearch")	
    <hr />
}

@section Sidebar {
	@Html.Partial("Sidebar/_" + Model.String("Kind"))
}

<section class="content-header">
	@{
		var typeText = new StringBuilder();
		containingType = Model.Get<IDocument>("ContainingType");
		while(containingType != null)
		{
			typeText.Append(Context.GetTypeLink(containingType));
			typeText.Append(".");
			typeText.Append("&#8203;"); // break type on thje '.'
			containingType = containingType.Get<IDocument>("ContainingType");
		}
	}
	<h1>@Html.Raw(@typeText.ToString())@Model.Name() <small>@Model["SpecificKind"]</small></h1>
</section>
<section class="content">
	@Html.Partial("_ApiBeforeContent")
	@RenderBody()
	@Html.Partial("Kind/_" + Model.String("Kind"))
	@Html.Partial("_ApiAfterContent")
</section>
